[class^="container"],
[class^="col"] {}

header {
  height:100px;
}


.d-flex {
  display: flex;
}
.justify-content {
  justify-content: space-between;
}
.fa-plus{
  color: #2376e4;
}

.fa-solid{
  padding-right: 10px;
}

.col-2 ul {
  list-style-type: none;
}
.col-2 ul li {
  margin-left: 10px;
}
.fa-bell {
  color: #fd9032;
}
.icona1 {
  width: 30px;
  padding-right: 5px;
}
.done {
  color: white;
  background-color: green;
  border-radius: 5px;
  text-align: center;

}
.faild {
  background-color: red;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.process {
  background-color: #fdc14d;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.menu .list {
  background-image: url(./img/sidebar-bg.png);
  background-color: #061e33;
  height: calc(100vh - 100px);
  width: 150px;
  padding-top: 10px;
  color: white;
}
.menu .list ul {
  list-style-type:none;
}

.menu .list li {
  padding-bottom: 15px;
}

.footer-menu{
  color: white;
}

.height-100{
  height: calc(100vh - 100px);
  overflow: auto;
}

.bg-color {
  background-color: #2376e4;
  color: white;
  padding-top: 20px;
  margin-bottom: 10px;

  
}
.number {
  font-size: 30px;

}

img {
  width: 100%;
}

.sc-form .form-control {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;

}

