.navbar {
  height: 100px;
}

main {
  display: flex;
}
.menu .list {
  background-image: url(./img/sidebar-bg.png);
  background-color: #061e33;
  height: calc(100vh - 90px);
  width: 230px;
  padding-top: 10px;
  color: white;
}
.menu .list ul {
  list-style-type:none;
}

.menu .list li {
  padding-bottom: 15px;
}

.footer-menu{
  color: white;
}

.container {
  background-color: yellow;
  width: calc(100vw -230px);
  height: calc(100vh -90px);
  overflow: auto;
}